# **4.13 실습문제**

### [시도별 인구]

#### 목표: 시도이름을 기준으로 두 데이터를 병합하고, 여자인구비(%)와 외국인비율(%)를 계산하여 컬럼을 추가하라. 외국인비가 가장 큰 순으로 정렬하라.

- 우선, CSV 파일을 데이터프레임으로 불러오고, 데이터 병합, 정렬, 필터링 등의 작업을 간편하게 수행하기 위해 판다스 라이브러리를 불러옵니다.   
수치 연산과 배열 처리를 빠르고 효율적으로 수행하기 위해 넘파이를 불러옵니다.

In [1]:
import pandas as pd
import numpy as np

- 주어진 '시도별_인구.csv' 파일을 읽어 데이터프레임 a에 저장하고 '시도별_외국인인구.csv' 파일 또한 데이터프레임 b에 저장합니다.

In [2]:
a = pd.read_csv("./data/시도별_인구.csv")  # 데이터프레임 a에 저장
b = pd.read_csv("./data/시도별_외국인인구.csv")  # 데이터프레임 b에 저장

- a와 b를 '시도명'과 '시도' 열을 기준으로 병합하여 x에 저장하고 x를 출력합니다.

In [3]:
x = pd.merge(a, b, left_on="시도명", right_on="시도")
x  # 데이터프레임 x를 출력합니다.

   시도명       총인구       남자       여자      가구수  시도     외국인
0   서울   9736027  4721977  5014050  4426007  서울  226569
1   부산   3396109  1663619  1732490  1544663  부산   45729
2   대구   2412642  1189901  1222741  1063893  대구   27230
3   인천   3014739  1513277  1501462  1298647  인천   66364
4   광주   1462545   724178   738367   645712  광주   20934
5   대전   1469543   732593   736950   664417  대전   17292
6   울산   1138419   586031   552388   482650  울산   16827
7   세종    376779   188619   188160   153649  세종    4884
8   경기  13925862  7038296  6887566  5841995  경기  360412
9   강원   1555876   783743   772133   746220  강원   17384
10  충북   1633472   832743   800729   760672  충북   36045
11  충남   2181835  1120429  1061406  1001915  충남   62578
12  전북   1817186   905672   911514   849001  전북   30331
13  전남   1865459   943018   922441   903108  전남   32656
14  경북   2677709  1355128  1322581  1276846  경북   51100
15  경남   3377331  1709989  1667342  1505971  경남   63148
16  제주    697476   350822   346654   307529  제주   20717

- '여자' 인구를 '총인구'로 나누어 백분율로 '여자인구비' 열을 생성합니다.
그리고 '외국인' 인구를 '총인구'로 나누어 백분율로 '외국인비' 열을 생성합니다.

In [4]:
x["여자인구비"] = x["여자"] / x["총인구"] * 100
x["외국인비"] = x["외국인"] / x["총인구"] * 100

- 필요한 열만 선택하여 데이터프레임 y에 저장하고 '외국인비'를 기준으로 내림차순 정렬하고 인덱스를 재설정합니다.

In [5]:
y = x[['시도명', '총인구', '가구수', '여자인구비', '외국인비']]
y = y.sort_values('외국인비', ascending=False, ignore_index=True) 
y  # 데이터프레임 y를 출력

   시도명       총인구      가구수      여자인구비      외국인비
0   제주    697476   307529  49.701208  2.970281
1   충남   2181835  1001915  48.647400  2.868136
2   경기  13925862  5841995  49.458813  2.588077
3   서울   9736027  4426007  51.499960  2.327120
4   충북   1633472   760672  49.020063  2.206649
5   인천   3014739  1298647  49.804046  2.201318
6   경북   2677709  1276846  49.392260  1.908348
7   경남   3377331  1505971  49.368629  1.869760
8   전남   1865459   903108  49.448474  1.750561
9   전북   1817186   849001  50.160743  1.669119
10  울산   1138419   482650  48.522381  1.478103
11  광주   1462545   645712  50.485079  1.431341
12  부산   3396109  1544663  51.013969  1.346512
13  세종    376779   153649  49.939089  1.296251
14  대전   1469543   664417  50.148243  1.176692
15  대구   2412642  1063893  50.680582  1.128638
16  강원   1555876   746220  49.626898  1.117313

## 실행결과에 대한 설명

---
### [Most Popular Programming Languages]

#### 목표: 주어진 자료를 각 조건에 맞게 결과를 출력하기

1. 프로그램언어별 전체 조사 기간 동안 평균 스코어를 구하고, 평균 스코어가 높은 순으로 나타내라.

- 주어진 CSV 파일을 데이터프레임으로 불러오고 melt 함수를 통해 데이터프레임을 long 형식으로 변환합니다.
- 그리고 Date 열을 각 행의 기준으로 잡고 원래의 열들을 하나의 Language 열로 모읍니다.
- 마지막으로 각 프로그래밍 스코어 값을 Score 열에 저장합니다.

In [6]:
mpp = pd.read_csv("data/Most_Popular_Programming_Languages.csv")
mpp_m = mpp.melt(id_vars="Date", 
        var_name="Language", value_name = "Score")

- 먼저 Score 열의 데이터들을 숫자형으로 변환해줍니다.   
- mpp_m 데이터프레임을 "Language" 열을 기준으로 그룹화하여 각 프로그래밍 언어별로 Score 평균 값을 계산하고 avg_mpp에 저장합니다.

In [31]:
mpp_m['Score'] = pd.to_numeric(mpp_m['Score'], errors='coerce')
avg_mpp = mpp_m.groupby("Language")['Score'].mean().reset_index()

NameError: name 'pd' is not defined

- 그리고 avg_mpp 데이터프레임에 새로운 열(순위)을 추가하고 내림차순으로 정렬하고 avg_mpp의 데이터 타입을 출력합니다.    
- 다시 avg_mpp를 '순위' 열을 기준으로 오름차순 정렬합니다

In [33]:
avg_mpp['순위'] = avg_mpp['Score'].rank(ascending=False)
print('type= ', type(avg_mpp))
avg_mpp.sort_values("순위", ascending=True)

NameError: name 'avg_mpp' is not defined

## 실행결과에 대한 설명

2. 프로그램언어별 연도별 평균 스코어로 구한 순위를 이용해서 Top 10에 속한 프로그램 언어를 연도별로 보여라.

- 첫 번째로 pd.to_datetime() 함수에서 format='%B %Y'를 사용하여 날짜 형식을 명시적으로 지정합니다.   
- 그 다음 NaN 값 제거 후, groupby()와 mean() 함수를 사용할 때 'Score' 열만 선택하여 평균을 계산합니다.

In [44]:
mpp_m['Year'] = pd.to_datetime(mpp_m['Date'], format='%B %Y').dt.year
mpp_m = mpp_m.dropna(subset=['Score', 'Year'])

avg_mpp = mpp_m.groupby(["Year", "Language"])['Score'].mean().reset_index()

NameError: name 'pd' is not defined

- 마지막으로 'Year'를 기준으로 그룹화하여 'Score'를 기준으로 내림차순 순위를 매깁니다. 그 후 '순위'가 10 이하인 데이터만 선택하여 'Year'와 '순위'를 기준으로 오름차순 정렬합니다.

In [47]:
avg_mpp['순위'] = avg_mpp.groupby("Year")['Score'].rank(method='min', ascending=False)
top10 = avg_mpp[avg_mpp['순위'] <= 10].sort_values(['Year', "순위"], ascending=[True, True])
top10

NameError: name 'avg_mpp' is not defined

## 실행결과에 대한 설명

3. 2022년 상위 Top 10에 속한 프로그램 언어의 연도별 순위를 보여라.

아래 코드는 2022년의 Top 10 프로그래밍 언어 순위를 보여줍니다.

In [9]:
result = avg_mpp[(avg_mpp['Year'] == 2022) & (avg_mpp['순위'] <= 10)]

print(result.sort_values('순위'))

     Year     Language  Score    순위
523  2022       Python  28.74   1.0
514  2022         Java  18.01   2.0
515  2022   JavaScript   9.07   3.0
507  2022        C/C++   7.40   4.0
506  2022           C#   7.27   5.0
521  2022          PHP   6.06   6.0
524  2022            R   4.19   7.0
520  2022  Objective-C   2.27   8.0
528  2022        Swift   1.91   9.0
519  2022       Matlab   1.74  10.0
529  2022   TypeScript   1.74  10.0

- 먼저 avg_mpp 데이터프레임에서 'Year'가 2022년인 행 중 순위가 1위부터 10위까지인 언어들을 추출하여 저장합니다.   
- avg_mpp에서 'Language'가 result에 속한 행들만 선택하고 해당 언어들의 모든 연도별 순위 데이터를 가져옵니다.    
- 그 후 'Language'와 'Year'를 기준으로 데이터를 오름차순 정렬하고 원하는 열만 선택하여 출력합니다.

In [49]:
top = avg_mpp[avg_mpp['Year'] == 2022].nsmallest(10, '순위')
result = top['Language'].unique()

top_ranking = avg_mpp[avg_mpp['Language'].isin(result)]

top_ranking = top_ranking.sort_values(['Language', 'Year'])
print(top_ranking[['Year', 'Language', '순위']])

NameError: name 'avg_mpp' is not defined

## 실행결과에 대한 설명

---
### [시군구별 음식점 데이터]

#### 목표: 주어진 자료를 각 조건에 맞게 결과를 출력하기

1. 일반음식점 데이터에서 컬럼 개방자치단체코드와 자치단체코드 데이터의 시군구(자치단체)코드를 연결하여 음식점 소재지인 시군구 컬럼을 추가하라.

- local에서 '시군구(자치단체)코드'와 '시군구명' 두 열만 남깁니다. 여기서 '시군구(자치단체)코드'라는 긴 이름을 '자치단체코드'로 수정해줍니다.

In [53]:
restaurant = pd.read_csv('data/일반음식점.csv', encoding='cp949', low_memory=False)
local = pd.read_excel('data/자치단체코드.xlsx')

local = local[['시군구(자치단체)코드', '시군구명']]
local = local.rename(columns={'시군구(자치단체)코드': '자치단체코드'})

NameError: name 'pd' is not defined

- 그리고 restaurant의 '개방자치단체코드'와 local의 '자치단체코드'를 기준으로 데이터를 합칩니다. how='left'를 통해 restaurant의 모든 행을 남기면서 필요한 정보를 추가합니다.   
- 마지막으로 병합된 데이터에서 local에서 가져온 '시군구명' 열의 이름을 '시군구'로 변경하고 출력합니다.

In [55]:
merged_data = pd.merge(
    restaurant,
    local,
    left_on='개방자치단체코드',
    right_on='자치단체코드',
    how='left'
)

merged_data = merged_data.rename(columns={'시군구명': '시군구'})
merged_data.head()

NameError: name 'pd' is not defined

## 실행결과에 대한 설명

2. 전국 지자체(시군구)별 음식점의 수를 구하라.

- '시군구'를 기준으로 데이터를 그룹화하여, 동일한 '시군구' 값을 가진 음식점들을 하나의 그룹으로 묶습니다.
- size() 함수를 통해 각 그룹(시군구)마다 몇 개의 음식점이 있는지 개수를 셉니다. 그 결과를 데이터프레임으로 변환하면서, 열 이름을 "음식점 수"로 변환합니다.

In [12]:
restaurant_count = merged_data.groupby('시군구').size().reset_index(name='음식점 수')

restaurant_count.head()

   시군구  음식점 수
0  가평군   3747
1  강남구  44934
2  강동구  21382
3  강릉시  13229
4  강북구  15589

## 실행결과에 대한 설명

3. 전국 지자체(시군구)별 음식점의 수를 폐업 또는 영업중을 구분하여 구하라.

- ['시군구', '영업상태명']로 그룹화하여, 각 시군구와 영업상태로 나뉜 음식점 수를 셉니다.
- 그룹화 결과를 데이터프레임으로 변환하고, 열의 이름을 '음식점 수'로 지정합니다.

In [13]:
restaurant_status = merged_data.groupby(['시군구', '영업상태명']).size().reset_index(name='음식점 수')

restaurant_status.head()

   시군구  영업상태명  음식점 수
0  가평군  영업/정상   1719
1  가평군     폐업   2028
2  강남구  영업/정상  12367
3  강남구     폐업  32567
4  강동구  영업/정상   4079

## 실행결과에 대한 설명

4. 위 데이터에서 경북에 소재한 음식점 중에서 현재 시군구별로 영업중인 음식점의 수를 구하라.

- merged_data에서 개방자치단체코드가 gyungbuk_codes에 포함된 행만 선택합니다.
- filter 데이터프레임에서 '영업상태명'이 '영업/정상'인 행만 선택합니다.
- result 데이터프레임을 '시군구'별로 그룹화하여 각 시군구에 속한 음식점의 개수를 세고 새로운 열로 지정합니다.

In [57]:
gyungbuk_regions = ['포항시', '경주시', '김천시', '안동시', '구미시', '영주시', '영천시', '상주시', '문경시', '경산시', '군위군', '의성군', '청송군', '영양군', '영덕군', '청도군', '고령군', '성주군', '칠곡군', '예천군', '봉화군', '울진군', '울릉군']
gyungbuk_codes = merged_data[merged_data['시군구'].isin(gyungbuk_regions)]['자치단체코드'].unique()


filter = merged_data[merged_data['개방자치단체코드'].isin(gyungbuk_codes)]
result = filter[filter['영업상태명'] == '영업/정상']

restaurant_count = result.groupby('시군구').size().reset_index(name='영업중인 음식점 수')
restaurant_count

NameError: name 'merged_data' is not defined

## 실행결과에 대한 설명

5. 전체 음식점 중 폐업비율을 구하고 크기순으로 나타내어라.

- 모든 시군구별로 전체 음식점의 수를 계산하여 데이터프레임에 저장합니다.
- '폐업'인 음식점만 필터링하여 시군구별로 폐업한 음식점 수를 계산하고, 데이터프레임에 저장합니다.

In [65]:
total = merged_data.groupby('시군구').size().reset_index(name='전체 음식점 수')
closed = merged_data[merged_data['영업상태명'] == '폐업'].groupby('시군구').size().reset_index(name='폐업 음식점 수')

NameError: name 'merged_data' is not defined

- 앞의 데이터들을 '시군구'를 기준으로 병합하여 데이터프레임에 저장합니다. 이때 how='left'를 사용하여 전체 음식점 수가 있는 시군구를 모두 포함합니다.
- '폐업 음식점 수'를 '전체 음식점 수'로 나누어 폐업 비율을 계산하고, 이를 퍼센트로 변환하여 '폐업 비율'이라는 새로운 열로 추가합니다.
- 폐업한 음식점이 없는 경우(NaN 값)를 0으로 대체하여 데이터프레임을 정리합니다.

In [68]:
merged_counts = pd.merge(total, closed, on='시군구', how='left')
merged_counts['폐업 비율'] = (merged_counts['폐업 음식점 수'] / merged_counts['전체 음식점 수']) * 100

merged_counts['폐업 음식점 수'] = merged_counts['폐업 음식점 수'].fillna(0)
merged_counts['폐업 비율'] = merged_counts['폐업 비율'].fillna(0)

NameError: name 'pd' is not defined

- '폐업 비율'을 기준으로 내림차순으로 정렬하여 폐업 비율이 높은 순서대로 나열합니다.

In [71]:
result = merged_counts.sort_values(by='폐업 비율', ascending=False)
result

NameError: name 'merged_counts' is not defined

## 실행결과에 대한 설명

6. 시군구별 거주인구 수 데이터를 구해서 인구수 대비 영업중인 음식점의 비율을 시군구별로 구하고 인구대비음식점의 수가 가장 큰 순으로 나타내어라.

- 시도별 시군구 매핑을 위해 작성합니다.

In [ ]:
sido_to_sigungu = {
    '서울': ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
    '부산': ['강서구', '금정구', '기장군', '남구', '동구', '동래구', '부산진구', '북구', '사상구', '사하구', '서구', '수영구', '연제구', '영도구', '중구', '해운대구'],
    '대구': ['남구', '달서구', '달성군', '동구', '북구', '서구', '수성구', '중구'],
    '인천': ['강화군', '계양구', '남동구', '동구', '미추홀구', '부평구', '서구', '연수구', '옹진군', '중구'],
    '광주': ['광산구', '남구', '동구', '북구', '서구'],
    '대전': ['대덕구', '동구', '서구', '유성구', '중구'],
    '울산': ['남구', '동구', '북구', '울주군', '중구'],
    '세종': ['세종시'],
    '경기': ['가평군', '고양시', '과천시', '광명시', '광주시', '구리시', '군포시', '김포시', '남양주시', '동두천시', '부천시', '성남시', '수원시', '시흥시', '안산시', '안성시', '안양시', '양주시', '양평군', '여주시', '연천군', '오산시', '용인시', '의왕시', '의정부시', '이천시', '파주시', '평택시', '포천시', '하남시', '화성시'],
    '강원': ['강릉시', '고성군', '동해시', '삼척시', '속초시', '양구군', '양양군', '영월군', '원주시', '인제군', '정선군', '철원군', '춘천시', '태백시', '평창군', '홍천군', '화천군', '횡성군'],
    '충북': ['괴산군', '단양군', '보은군', '영동군', '옥천군', '음성군', '제천시', '진천군', '청주시', '충주시', '증평군'],
    '충남': ['계룡시', '공주시', '금산군', '논산시', '당진시', '보령시', '부여군', '서산시', '서천군', '아산시', '예산군', '천안시', '청양군', '태안군', '홍성군'],
    '전북': ['고창군', '군산시', '김제시', '남원시', '무주군', '부안군', '순창군', '완주군', '익산시', '임실군', '장수군', '전주시', '정읍시', '진안군'],
    '전남': ['강진군', '고흥군', '곡성군', '광양시', '구례군', '나주시', '담양군', '목포시', '무안군', '보성군', '순천시', '신안군', '여수시', '영광군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군', '해남군', '화순군'],
    '경북': ['경산시', '경주시', '고령군', '구미시', '군위군', '김천시', '문경시', '봉화군', '상주시', '성주군', '안동시', '영덕군', '영양군', '영주시', '영천시', '예천군', '울릉군', '울진군', '의성군', '청도군', '청송군', '칠곡군', '포항시'],
    '경남': ['거제시', '거창군', '고성군', '김해시', '남해군', '밀양시', '사천시', '산청군', '양산시', '의령군', '진주시', '창녕군', '창원시', '통영시', '하동군', '함안군', '함양군', '합천군'],
    '제주': ['서귀포시', '제주시']
}

- 음식점 데이터 불러오기 및 병합하고 인구 데이터와 음식점 데이터 병합을 합니다.
- 영업 중인 음식점 필터링을 통해 시군구별 영업중인 음식점 수 계산합니다.
- 영업중인 음식점 수와 인구 데이터 병합하여 인구 대비 음식점 비율 계산합니다.
- 마지막으로 인구 대비 음식점 비율 기준으로 정렬합니다.

In [41]:
population_data = pd.read_csv('data/시도별_인구.csv')
population_data = population_data.rename(columns={'시도명': '시군구'})
expanded_population_data = pd.DataFrame(columns=['시군구', '총인구'])
rows = []

for sido, sigungus in sido_to_sigungu.items():
    total_population = population_data.loc[population_data['시군구'] == sido, '총인구'].values[0]
    for sigungu in sigungus:
        rows.append({'시군구': sigungu, '총인구': total_population / len(sigungus)})

expanded_population_data = pd.DataFrame(rows)

restaurant_data = pd.read_csv(
    'data/일반음식점.csv', 
    encoding='cp949', 
    low_memory=False,
    dtype={
        '22': str, '27': str, '39': str, '41': str, '44': str, '45': str  # 혼합된 열에 대해 문자열로 명시적으로 지정
    }
)

local_code_data = pd.read_excel('data/자치단체코드.xlsx')[['시군구(자치단체)코드', '시군구명']]
local_code_data = local_code_data.rename(columns={'시군구(자치단체)코드': '자치단체코드', '시군구명': '시군구'})
local_code_data = local_code_data[['자치단체코드', '시군구']]

merged_data = pd.merge(restaurant_data, local_code_data, left_on='개방자치단체코드', right_on='자치단체코드', how='left')

merged_population_data = pd.merge(merged_data, expanded_population_data, on='시군구', how='left')

open_restaurants = merged_population_data[merged_population_data['영업상태명'] == '영업/정상']

count = open_restaurants.groupby('시군구').size().reset_index(name='영업중 음식점 수')

restaurant_population = pd.merge(count, expanded_population_data, on='시군구', how='left')

restaurant_population['인구 대비 음식점 비율'] = (restaurant_population['영업중 음식점 수'] / restaurant_population['총인구']) * 100000

result = restaurant_population.sort_values(by='인구 대비 음식점 비율', ascending=False)

result

     시군구  영업중 음식점 수            총인구  인구 대비 음식점 비율
184   중구     122136  212256.812500  57541.616008
188   중구     122136  227683.800000  53642.815167
101   서구      96680  212256.812500  45548.596938
187   중구     122136  293908.600000  41555.776183
186   중구     122136  301473.900000  40512.959828
..   ...        ...            ...           ...
139  연천군        869  449221.354839    193.445835
146  영양군        223  116422.130435    191.544339
23   과천시        403  449221.354839     89.710784
52   남양주       6965            NaN           NaN
71   동두천       1321            NaN           NaN

[228 rows x 4 columns]

## 실행결과에 대한 설명

7. 음식점 데이터에서 ’업태구분명’은 음식점의 종류이다. 분석에서 관심 업태는 [‘한식’, ‘치킨’, ‘분식’, ‘양식’, ‘식육(숯불구이)’, ‘중국식’, ‘일식’, ‘까페’, ‘패스트푸드’] 이고 이를 위해서 기존 저장된 업태를 아래와 같이 변경하여라.

- dropna()를 이용해 업태구분명 열에 NaN(결측값)이 있는 행을 삭제합니다.
- '업태구분명' 열의 값을 모두 문자열(str)로 변환하여 문자열 처리 작업을 수행합니다.

In [ ]:
restaurant_data = pd.read_csv('data/일반음식점.csv', encoding='cp949', low_memory=False)

restaurant_data = restaurant_data.dropna(subset=['업태구분명'])
restaurant_data['업태구분명'] = restaurant_data['업태구분명'].astype(str)

- 업태구분명이 숫자인 행과 한글, 영어, 공백, 슬래시 등 정상적인 문자로 구성되지 않은 값을 제거합니다.
- replace 메서드를 사용하여 기존의 다양한 업태명을 지정된 새 업태명으로 변경합니다.

In [54]:
restaurant_data = restaurant_data[~restaurant_data['업태구분명'].str.isnumeric()]
restaurant_data = restaurant_data[restaurant_data['업태구분명'].apply(lambda x: bool(re.match('^[가-힣A-Za-z/ ]+$', str(x))))]

restaurant_data['업태구분명'] = restaurant_data['업태구분명'].replace({
    '라이브카페': '카페',
    '카페': '카페',
    '커피숍': '카페',
    '다방': '카페',
    '전통찻집': '카페',
    '키즈카페': '카페',
    '호프/통닭': '치킨',
    '통닭(치킨)': '치킨',
    '경양식': '양식',
    '패밀리레스트랑': '양식'
})

print(restaurant_data['업태구분명'])

0          한식
1          치킨
2          기타
3          한식
4          기타
           ..
2018760    한식
2018761    한식
2018762    한식
2018763    한식
2018764    양식
Name: 업태구분명, Length: 1872811, dtype: object

## 실행결과에 대한 설명

8. 지역별 관심업태에 따른 음식점의 수를 구하라.

- '서울특별시 강남구' 같은 형식의 시/군/구 정보를 추출합니다. 이를 통해 조금 더 세밀한 시/군/구 추출을 합니다.

In [ ]:
def extract_region(address):
    pattern = r'([가-힣]+[도|시]\s*[가-힣]+[시|군|구])'
    if isinstance(address, str):
        match = re.search(pattern, address)
        if match:
            return match.group(1)
    return '기타'

restaurant_data = pd.read_csv('data/일반음식점.csv', encoding='cp949', low_memory=False)

restaurant_data['소재지전체주소'] = restaurant_data['소재지전체주소'].fillna('')
restaurant_data['소재지전체주소'] = restaurant_data['소재지전체주소'].astype(str)

- apply 메서드를 사용하여 소재지전체주소에서 시/군/구 정보를 추출하고, 새로운 열 '시군구'에 저장합니다.
- '기타'로 표시된 명확하지 않은 시군구 정보는 분석에 불필요하므로 제거합니다.

In [62]:
restaurant_data['시군구'] = restaurant_data['소재지전체주소'].apply(extract_region)
interest_uptei = ['한식', '치킨', '분식', '양식', '식육(숯불구이)', '중국식', '일식', '카페', '패스트푸드']

filtered_data = restaurant_data[restaurant_data['업태구분명'].isin(interest_uptei)]
region_interest_count = filtered_data.groupby(['시군구', '업태구분명']).size().reset_index(name='음식점 수')

region_interest_count = region_interest_count[region_interest_count['시군구'] != '기타']

print(region_interest_count)

           시군구     업태구분명  음식점 수
0      강원도 강릉시        분식    893
1      강원도 강릉시  식육(숯불구이)    842
2      강원도 강릉시        일식    136
3      강원도 강릉시       중국식    378
4      강원도 강릉시     패스트푸드    183
...        ...       ...    ...
1376  충청북도 충주시  식육(숯불구이)    224
1377  충청북도 충주시        일식    135
1378  충청북도 충주시       중국식    302
1379  충청북도 충주시     패스트푸드    112
1380  충청북도 충주시        한식   5288

[1375 rows x 3 columns]

## 실행결과에 대한 설명